.full-img{ width: 100%; }
.blog-content-c1 { margin-left: 0; padding: 0 20px !important; float: left; width: 100%; display: block; }
.youtube-video-div { display: inline-block; float: left; width: 100%; margin: 10px 0 15px 0; padding: 0 0 0 0; }
.youtube-video-div .iframe-full{ width: 100%; height: 400px; }
.img-100per{ width: 100%; }

.coaches-list{ margin: 0 0 0 0; }
.coaches-list .price-box p{ margin: 0 0 0 0; }
.coaches-list .actions { padding: 0; margin: 0; }
.coaches-list .btn.btn-link.btn-white { background-color: transparent; color: #fff; font-size: 14px; width: 100%; text-align: center; padding: 10px; margin: 0; text-decoration: none; height: 45px; line-height: 24px; }
.coaches-list .product-image { max-height: 300px; overflow: hidden; }

/* popup */

.viewmore-coaches-modal .product-name h1{ margin: 0px 0 5px 0; }
.viewmore-coaches-modal .youtube-video-div .iframe-full { width: 100%; height: 150px; }
.viewmore-coaches-modal .product-essential .short-description{ margin-bottom: 5px; }
.viewmore-coaches-modal .product-essential .product-shop { max-height: 507px; overflow-y: auto; }
.viewmore-coaches-modal .product-essential .product-shop::-webkit-scrollbar { background-color:#1b1b1b; width:8px }
.viewmore-coaches-modal .product-essential .product-shop::-webkit-scrollbar-track {  background-color:#383737 }
.viewmore-coaches-modal .product-essential .product-shop::-webkit-scrollbar-thumb { background-color:#000; border-radius:0px; }
.viewmore-coaches-modal .product-essential .product-shop::-webkit-scrollbar-button {display:none}
.viewmore-coaches-modal .product-essential .product-shop .coaches-details-div{ padding: 10px 0 10px 0; }
.viewmore-coaches-modal .contact-info-div{ padding: 0; margin: 0; }
.viewmore-coaches-modal .contact-info-div p{ padding: 0; margin: 0; }
.viewmore-coaches-modal .quickview-close { right: 8px; top: 0; } 

/* End of popup */

i.fa.fa-envelope.font-i17{ font-size: 17px; }

.contact-us-page .headding-title .headding-bottom{ margin: 0 0 10px 0; }
.contact-form-section .form-control2.control { padding: 10px 15px; line-height: 24px; }
.contact-form-section .form-submit .btn-submit { font-size: 16px; text-align: left; width: 210px; line-height: 32px; padding-left: 55px; }
.contact-form-section .form-submit .btn-submit:before { top: 6px; font-size: 18px; width: auto; left: 20px; }
.contact-form-section .btn-rows{ float: right; }

.gallery-list .gallery-grid-row{ margin: 0; padding: 0; }
.gallery-list .gallery-grid-row .product-name { padding-top: 00px; font-size: 16px; }
.gallery-list .gallery-grid-row .product-name a { color: #fff; font-size: 14px; }
.gallery-list .gallery-grid-row .product-bottom{ margin: 0 0; }

.coaches-details-page .product-name h1{ font-size: 24px; }
.coaches-details-page .short-description { color: #9e9e9e; margin: 0 0 10px 0; }
.coaches-details-page .product-name h1 { font-size: 24px; margin: 0 0 0 0; padding: 0px 0 10px 0; }
.coaches-details-page .youtube-video-div .iframe-full { width: 100%; height: 300px; }

.timetable-box-div{ padding: 0; margin: 0; }
.timetable-box-div .table-class-schedule thead th { padding: 20px 15px; border-color: rgba(141,147,159,0.25); }
.timetable-box-div .table-class-schedule .text-white { color: #fff!important; }
.timetable-box-div .table-class-schedule tbody td { padding: 20px 15px; vertical-align: middle; color: #9a9a9a;  }
.timetable-box-div .table-class-schedule th { border-color: rgba(141,147,159,0.25); }
.timetable-box-div .table-class-schedule .mb-0 { margin-bottom: 0px; }
.timetable-box-div .table-class-schedule .align-center { -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; }
.timetable-box-div .table-class-schedule .flex { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }
.timetable-box-div .table-class-schedule .img-responsive{ max-width: 100px; margin: 0 15px 0 0; }
.timetable-box-div .table-class-schedule .transition { -webkit-transition: 0.3s ease 0s; -moz-transition: 0.3s ease 0s; -o-transition: 0.3s ease 0s; transition: 0.3s ease 0s; }
.timetable-box-div .table-class-schedule .ws-nw { white-space: nowrap; }
.timetable-box-div .table-class-schedule td, .timetable-box-div .table-class-schedule th{ border-color: rgba(141,147,159,0.25); }
.timetable-box-div .table-class-schedule{ border-color: rgba(141,147,159,0.25); }
.timetable-box-div .table-class-schedule .class-schedule-hover::before { content: ""; width: 0; z-index: -1; position: absolute; top: 0; bottom: 0; left: -1px; -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; }
.timetable-box-div .table-class-schedule .class-schedule-hover { position: relative; text-align: center; z-index: 0; }
.timetable-box-div .table-class-schedule .class-schedule-hover:hover { color: #fff; }
.timetable-box-div .table-class-schedule .class-schedule-hover:hover::before { width: 100% !important; background-image: linear-gradient(left, #ec3642 0%, #ee1754 100%); background-image: -moz-linear-gradient(left, #fe3e0b 0%, #fc0247 100%); background-image: -webkit-linear-gradient(left, #fe3e0b 0%, #fc0247 100%); background-image: linear-gradient(left, #fe3e0b 0%, #fc0247 100%); }


/* owl-slider */
	
.slider-div-1 { margin: 0; padding: 0; position: relative; float: left; width: 100%; }
.slider-div-1 .owl-theme .owl-nav {position: absolute;top: 35%;margin: 0; width: 100%;}
.slider-div-1 .owl-theme .owl-nav [class*=owl-] { color: #FFF; font-size: 14px; margin: 0px; padding: 10px 20px !important; border-radius: 0px; font-weight:400; transition: all 0.5s ease-in-out; outline: none; }
.slider-div-1 .owl-theme .owl-nav .owl-prev{position:absolute;left:-110px;background-color: #222222; color: #ffffff; opacity:1;}
.slider-div-1 .owl-theme .owl-nav .owl-prev:hover{background-color: #fff;  color: #222222;}
.slider-div-1 .owl-theme .owl-nav .owl-next{position:absolute;right:-110px;background-color:#ec3642;}
.slider-div-1 .owl-theme .owl-nav .owl-next:hover{background-color: #fff;color:#ec3642;}

.slider-div-1 .image-facilities{margin:0;padding:0;}
.slider-div-1 .content-facilities {margin: 0; 		padding: 20px 0 0 0; 		height: 65px; 		overflow: hidden;}
.slider-div-1 .content-facilities p{margin:0;padding:0px 0;font-size:14px;font-family: 'Roboto', sans-serif;line-height:1.4;color:#777;}
.slider-div-1 .link-facilities{margin:0;padding:0;}
.slider-div-1 .link-facilities a{margin:0;padding:0;font-size:16px;line-height:1.4;font-weight:600;}
.slider-div-1 .link-facilities i { font-size: 16px;margin: 5px 0 0 10px;line-height: 1.4;font-weight: 600;}
.slider-div-1 .link-facilities .color-f01{color:#0f263a;}
.slider-div-1 .link-facilities .color-f02{color:#d3b213;}
.counter-number { padding: 0; margin: 0; width: auto; position: absolute; display: block; top: -25px; left: -20px; border-radius: 200px; z-index: 2; text-transform: uppercase; font-size: 12px; background-color: #ec3642; height: 50px; width: 50px; display: flex; align-items: center; justify-content: center; }
.gallery-slider .product-essential{ overflow: unset; }
.slider-div-1 .owl-dots{display:none;}

.gallery-slider .quickview-close { right: -60px; top: -100px; position: fixed; padding: 0; height: 40px; width: 40px; font-size: 24px; display: flex; align-items: center; justify-content: center; border-radius: 100px; background: transparent !important; }

.pt-15{ padding-top: 15px !important; }

/* end of owl-slider */

.blog-home .news-wapper .details-news a { color: #fff; font-size: 18px; font-weight: bold; text-transform: uppercase; }
.blog-home .news-wapper img.img-responsive.img-blog { width: 100%; height: 70px; object-fit: cover; margin: 0; }
.blog-home .news-wapper .details-news p{ margin: 0 0 0 0; padding: 0; line-height: 18px; }
.blog-home .news-wapper .details-news a.read-more { padding: 0; margin: 0; font-size: 14px; color: #ec3642; text-transform: capitalize; float: left; line-height: 26px; }
.blog-home .news-wapper { padding: 25px 0 25px 0; }
.blog-home .blog-bottom { border-bottom: 2px solid rgb(236, 54, 66); margin-top: 5px; width: 60px; }

/* Home page changes  */

.services-home .img-responsive.img-full { width: 100%; height: 200px; object-fit: cover; object-position: top; margin: 0; }
.services-home .info-products { padding: 20px 15px 25px 15px; }
.services-home .product-name { padding-top: 0; margin-bottom: 0px; }
.services-home .product-image-wrapper:hover .product-content .info-products, .services-home  .product-image-wrapper:hover .our-trainers .info-products{     transform: translateY(-10px); -moz-transform: translateY(-10px); -webkit-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); }
.services-home .listing-grid{ padding-right: 15px; padding-left: 15px; }
.services.services-home { padding: 20px 0 30px 0; background-size: cover; }
.services.services-home .title-page { padding-bottom: 0; }

.view-more-btn-row { display: block; width: 100%; margin: 0 auto; padding: 20px 0 30px 0; text-align: center; }
.view-more-btn-row .btn.btn-viewmore { font-size: 16px; text-align: center; min-width: 210px; line-height: 20px; border-radius: 0px; padding: 12px 10px 10px 10px; background-color: #ec3642; border: 1px solid #ec3642; }
.view-more-btn-row .btn.btn-viewmore:hover { color: #fff; background-color: #161616; border-color: #161616; }

/* end of Home page changes */

/* banner changes */


.banner-text-caption .container { width: 1170px; }

.banner-text-caption { display: flex; margin: 0; height: 100vh; align-items: center; }
.banner-text-caption .center-banner-content { padding: 0px 0 0 0; margin: 0 auto; height: 100%; align-items: center; text-align: left; display: flex; flex-direction: column; float: left; width: 100%; z-index: 99; }
.banner-text-caption .center-banner-content .prag-border { width: 100%; float: left; display: flex;  -webkit-animation-name: lightSpeedIn; animation-name: lightSpeedIn;  -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.banner-text-caption .center-banner-content span.border-all { padding: 12px 20px; font-size: 26px; line-height: 26px; border: 2px solid #fff; font-weight: 600; text-transform: uppercase; }
.banner-text-caption .center-banner-content .main-title-heading { width: 100%; float: left; display: block; margin: 20px 0px 10px; padding: 0px; font-size: 70px; line-height: 70px;  -webkit-animation-name: slideInLeft; animation-name: slideInLeft;  -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both;    }
.banner-text-caption .center-banner-content .free-link-btn-row{ width: 100%;  -webkit-animation-name: slideInUp; animation-name: slideInUp;  -webkit-animation-duration: 2s; animation-duration: 2s; -webkit-animation-fill-mode: both; animation-fill-mode: both;     float: left; }
.banner-text-caption .center-banner-content .free-link-btn-row .free-classes-link {  background-color: #ec3642; margin: 15px 0px 0px 0px; padding: 12px 25px; font-size: 18px; line-height: 20px; font-weight: 700; text-transform: uppercase; float: left; }

.ms-slide .ms-layer { position: absolute; left: 0; top: 0; width: 100%; }

@-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
  }
  
  
@keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
  }

  @-webkit-keyframes lightSpeedIn {
    from {
      -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
  
    60% {
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes lightSpeedIn {
    from {
      -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
  
    60% {
      -webkit-transform: skewX(20deg);
      transform: skewX(20deg);
      opacity: 1;
    }
  
    80% {
      -webkit-transform: skewX(-5deg);
      transform: skewX(-5deg);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .lightSpeedIn {
    -webkit-animation-name: lightSpeedIn;
    animation-name: lightSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  /* End of banner changes */

@media (min-width: 1025px) and (max-width: 1100px){

}



@media only screen and (max-width: 767px){
    
    #open-button.menu-button { margin: 0px 10px 0 0; top: 20px; }
    .header-container .logo a { display: inline-block; margin: 20px 10px; }
    .blog-content-c1 { padding: 0 15px !important; }
    .blog-content-c1 .caveats-content { float: left; width: 100%; padding: 0; margin: 15px 0 15px 0; }
    .blog-content-c1 .caveats-content p { width: 100%; float: left; margin: 0; padding: 15px 20px; }
    .youtube-video-div .iframe-full { height: 200px; }

    /* popup */

    .viewmore-coaches-modal .product-essential .product-shop { max-height: 100%; width: 100%; }
    .custombox-show { height: 100% !important; visibility: visible; width: 100% !important; margin: 20px 0 0 0 !important; left: 0 !important; }
    .viewmore-coaches-modal .quickview-close { top: 0; right: 0; }

    /* End of popup */

    .timetable-box-div .table-responsive { border: 1px solid rgba(141,147,159,0.25); }

    .counter-number{  left: 0; transform: scale(0.7); }
    
    .quick-access { line-height: 75px; text-align: right; }

    .slider-div-1 .owl-theme .owl-nav { top: 125%; }
    .slider-div-1 .owl-theme .owl-nav .owl-prev{ left: 0px; }
    .slider-div-1 .owl-theme .owl-nav .owl-next { right: 0; }
    .coaches-details-page .product-name h1 { padding: 15px 0 10px 0; }


    /* banner changes */

    .banner-text-caption .center-banner-content span.border-all { padding: 12px 15px; font-size: 14px; line-height: 14px; }
    .banner-text-caption .center-banner-content .main-title-heading { font-size: 24px; text-align: center; line-height: 36px; }
    .banner-text-caption .center-banner-content .prag-border{  justify-content: center; }
    .banner-text-caption .center-banner-content .free-link-btn-row{  display: flex; justify-content: center; }
    .ms-skin-default .ms-nav-prev { left: 10px; }
    .ms-skin-default .ms-nav-next { right: 10px; }

    /* End of banner changes */


}


@media only screen and (min-width: 768px) and (max-width: 1024px) {

    #open-button.menu-button { margin: 0px 10px 0 0; top: 20px; }
    .header-container .logo a { display: inline-block; margin: 20px 10px; }
    .blog-content-c1 { padding: 0 15px !important; }
    .blog-content-c1 .caveats-content { float: left; width: 100%; padding: 0; margin: 15px 0 15px 0; }
    .blog-content-c1 .caveats-content p { width: 100%; float: left; margin: 0; padding: 15px 20px; }
    .youtube-video-div .iframe-full { height: 200px; }  

    /* popup */

    .viewmore-coaches-modal .quickview-close { right: 8px; top: 0; } 
    .quick-access {
        line-height: 75px;
        text-align: right;
    }
    body#page-top {
        overflow: hidden;
    }
    .slider-div-1 .owl-theme .owl-nav { top: 125%; }
    .slider-div-1 .owl-theme .owl-nav .owl-prev{ left: 0px; }
    .slider-div-1 .owl-theme .owl-nav .owl-next { right: 0; }
    /* End of popup */


    /* Home page changes */

    body#page-top { overflow-x: hidden; overflow-y: scroll; }

    /* end of Home page changes */

      /* banner changes */

      
      .banner-text-caption .center-banner-content { padding: 0 0 0 0; }
      .banner-text-caption .center-banner-content .main-title-heading { font-size: 42px; text-align: center; line-height: 36px; }
      .banner-text-caption .center-banner-content .prag-border{  justify-content: center; }
      .banner-text-caption .center-banner-content .free-link-btn-row{  display: flex; justify-content: center; }
      .ms-skin-default .ms-nav-prev { left: 10px; }
      .ms-skin-default .ms-nav-next { right: 10px; }
  
      /* End of banner changes */
  
  

}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

}




html {
  cursor: url("/assets/images/ico-circle-white.png") 15 15, crosshair;
}